body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: tan;
}

h1 { 
    color: yellow;
} 

#toEat { 
    color: red;
}    

#eating { 
    color: green;
}    

#addBurger { 
    color: brown;
}    

#radio {
    display: none; 
}
